

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 200px;
    transition: 0.5s ease;
    

}

header::before{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header.sticky{
    padding: 15px 100px;
    background: white;
    
}

section{
    padding: 100px 200px;
}

.brand{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation{
     position: relative;
}

.navigation .navigation-items a{
    position: relative;
    color: white;
    font-size: 1.12em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: 0.3s ease;
}

header.sticky .brand,
header.sticky .navigation-items a{
    color: black;
    font-weight: 600;
    font-size: 1.04em;
}

.navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background-color: #1476C1;
    width: 0;
    height: 5px;
    bottom: -8px;
    left: 0;
    transition: 0.3s ease;
}

.navigation .navigation-items a:hover:before{
    width: 100%;

}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;

}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.home .content{
    z-index: 888;
    color: white;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: transparent;
    padding: 15px 35px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    border: solid 1px white;
    transition: 0.3s;
}

.home .content a:hover{
    border-color:#1476C1;
    background-color:#1476C1;
    color: white;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5 ease;
}

.home .media-icons a{
    color: white;
    font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}


.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-top: 200px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
    background: #1476C1;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.3);
}

.image-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);

}

.image-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}



@media (max-width: 1040px){

    header{
        padding:12px 20px;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    .navigation{
        display: none;
    }

    
}

/*Slider Carousel*/

.heading-title{
    display: flex;
    margin-bottom: 40px;

}

.title-caption{
    padding-top: 18px;
    opacity: 0.5;
    font-size: 15px;
    margin-left: 300px;
}

.title-caption::after{
    content: '';
    width: 80px;
    height: 5px;
    background: #1476c1;
    position: absolute;
    top: 130px;
    left: 758px;
    z-index: 1;
    rotate: 90deg;
}

.product-category{
    padding: 0 0vw;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    

}

.title-under{
    font-size: 40px;
    color: #1476C1;
}




.owl-carousel{
background: white;
display: grid;
place-items: center;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-70%);
    color: rgba(0, 0, 0, 0.5);
}

.owl-carousel .owl-nav button.owl-next{

    right: -2rem;
}

.owl-carousel .owl-nav button.owl-prev{

    left: -2rem;
}

.item{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.item-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.content-title{
    color: white;
    font-size: 17px;
    white-space: nowrap;
    width: 100%;
    overflow:auto;
    margin-bottom: 10px;
}

.overlay{
    opacity: 0;
    transition: 0.5s ease-in-out;
}


.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; 
    
}

.item:hover .overlay{
    opacity: 1;
}

.content-paragraph{
    width: 250px;
    color: white;
    font-size: 10px;
    margin-bottom: 10px;
}

.carousel-news{
    position: relative;
}

.carousel-news .item{
    height: 250px;
}

.carousel-news .item img{
    height: 100%;
    object-fit: cover;
}

.content-button{
    background: transparent;
    padding: 5px 10px;
    color:white;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px white;
    transition: 0.3s ease-in-out;
}

.content-button:hover{
    border: #1476C1;
    background: #1476C1;
    color: white;
}

.latest-news{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.latest-news-title{
    margin-bottom: 20px;
    font-size: 25px;
}

.latest-news-details{
    margin-top: 45px;
    margin-left: 15px;
}

.latest-news-paragraph{
    color: rgba(0, 0, 0, 0.507);
    margin-bottom: 20px;
}

.latest-news-button{
    background: transparent;
    padding: 5px 10px;
    color:#1476C1;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #1476C1;
    transition: 0.3s ease-in-out;
}

.latest-news-button:hover{
    border: #1476C1;
    background: #1476C1;
    color: white;
}


/*Video*/


.video{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),url(image/video-bg.jpg);
    z-index: 000;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.video-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.video{
    position: relative;
    padding: 50px 100px;
}

.video-caption{
    width: 700px;
    padding: 0;
    color: white;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.video-caption-paragraph{
    font-size: 17px;
    font-weight: 200;
    color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 19px;
}

.video-caption-title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

.video-caption-button{
    background: transparent;
    padding: 10px 15px;
    color:white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px white;
    transition: 0.3s ease-in-out;

}

.video-caption-button:hover{
    border: #1476C1;
    background: #1476C1;
}


/*logo slide*/

.clients-logo{
    padding: 40px 0;
}


.logo{
    overflow: hidden;
    padding: 60px 0;
    background-color: white;
    white-space: nowrap;
}

.logo-slide{
    display: inline-block; 
    animation: 25s slide infinite linear;
}

.logo-slide img{
    height: 50px;
    margin: 0 40px;
}

.logo:hover .logo-slide{
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.clients-title-cont{
    align-items: center;
    text-align: center;
}

.clients-logo-title{
    margin-bottom: 19px;
    font-size: 35px;
}


/*footer*/


.drj-footer{
    background-color: #161428;
    z-index: 000;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.download{
    margin-top: 18px;
}

.copy-right{
    color: rgba(255, 255, 255, 0.511);
    font-size: 10px;
}


.drj-footer-container{
    padding: 80px 100px;
    display: inline-flex;
    gap: 80px;
    position: relative;

}

.footer-title{
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

.nav-footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.nav-footer a{
    color: rgba(255, 255, 255, 0.627);
    text-decoration: none;
    font-weight: 200;
    font-size: small;
}

.nav-footer a:hover{
    color: #1476C1;
}

.download-button{
    padding: 15px 60px;
    border-radius: 10px;
    border: 1px solid #1476C1;
    background-color: #1476C1;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.email-user-box{
    padding: 10px;
    width: 199px;
}

.subscribe-button{
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    background-color: #1476C1;
    border: 1px solid #1476C1;
    color: white;
    transition: 0.3ms ease-in-out;
}

.subscribe-button:hover{
    background-color: rgb(28, 28, 241);
    border: 1px solid rgb(28, 28, 241);
}







/*VML*/


.vml-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.616)), url('image/pexels-olia-danilevich-5466814.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.vml-section-title{
    padding: 80px 0 90px;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color:#1476C1;
    
}

.vml-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 900;
    margin-top: 125px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
    font-size: 30px;
}

.vml-title span{
    color: #1476C1;
}

.process-wrapper{
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container{
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 59px;
}

#progress-bar-container ul{
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 888;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

#progress-bar-container li::before{
    content: "";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #aaa;
    transition: all ease 0.3s;
}

#progress-bar-container li.active::before,
#progress-bar-container li:hover:before{
    background: #1476C1;
}
#progress-bar-container li{
    list-style: none;
    float: left;
    width: 33%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 59px;
    position: relative;
}

.step-inner{
    font-weight: 700;
}

#progress-bar-container li .step-inner{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover{
    color: #1476C1;
}


#progress-bar-container li::after{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #777;
    margin: auto;
    border: solid 7px white;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.3s;
}

#progress-bar-container li:hover::after{
    background: #1476C1;
}

#progress-bar-container li:active::after{
    background: #1476C1;
}

#progress-bar-container #line{
    width: 66%;
    margin: auto;
    background: #eee;
    height: 5px;
    position: absolute;
    left: 16%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-process{
    content: "";
    width: 0%;
    height: 100%;
    background:#1476C1;
    background: linear-gradient(to right, #1476C1 0%, #1476C1 100%);
    position: absolute;

    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section{
    width: 100%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 8px;
}

#progress-content-section .section-content{
    padding: 30px 40px;
    text-align: center;
}

#progress-content-section .section-content {
    display: none;
}

#progress-content-section .section-content.active {
    display: block;
}




.about-us{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.about-us-paragraph{
    width: 500px;
}

.about-us-details{
    word-spacing: 4px;
    width: 900px;
    color: rgba(255, 255, 255, 0.808);
    display: flex;
   flex-direction: column;
   gap: 20px;
   font-weight: 500;
   font-size: medium;

}




.progress-content-title{
    margin-bottom: 30px;
    font-weight: 800;
    color: #000000c4;
    font-size: 28px;
}

.progress-content-paragraph{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    width: 850px;
    font-size: 17px;
    color: #000000ad;
}


/*BUSINESS REG*/



.contain{
    display:flex;
}
.car{
    height: 350px;
    width: 200px;
    margin: 20px;
    box-shadow: 5px 5px 20px rgb(151, 176, 221);
    overflow: hidden;
}


.car img{
    height: 350px;
    width: 300px;
    border-radius: 3px;
}

.intro {
    height: 130px;
    width: 200px;
    font-size: 80%;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 100px;
    background: rgb(27, 27, 27, 0.5);
    color: white; /* Add this line to set the color to white */
    transition: 0.5s;
}



.span {
    font-weight: bold;
    color: #007bff; /* Set a color for the span text */
}

body,
h1,
p {
    font-family: 'Arial', sans-serif;
}

.car .intro h1{
    font-size: 22px;
    margin-bottom: 28px;
    margin-top: 0;
    margin-left: 0;
    color: white;
}



.car:hover{
    cursor: pointer;
}
.car:hover .intro {
    height: 220px;
    bottom: 220px;
    background: rgba(47, 97, 235, 0.822);
}

.car:hover p{
    opacity: 1;
    visibility: visible;
}
.car:hover img{
    transform: scale(1.1) rotate(-3deg);
}







/*bilog bilog*/




.container {
    display: flex;
    align-items: center;
}

.item-container {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 998;
    
}

.round-item {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.round-item:hover {
    background-color: #050708; /* Dark background color on hover */
    transition-duration: 0.3s; /* Adjust the transition duration */
    
}



.round-item:nth-child(1) { transform: rotate(0deg) translateX(100px) rotate(0deg); }
.round-item:nth-child(2) { transform: rotate(50deg) translateX(100px) rotate(-50deg); }
.round-item:nth-child(3) { transform: rotate(90deg) translateX(100px) rotate(-90deg); }
.round-item:nth-child(4) { transform: rotate(130deg) translateX(100px) rotate(-130deg); }
.round-item:nth-child(5) { transform: rotate(170deg) translateX(100px) rotate(-170deg); }
.round-item:nth-child(6) { transform: rotate(210deg) translateX(100px) rotate(-210deg); }
.round-item:nth-child(7) { transform: rotate(260deg) translateX(100px) rotate(-260deg); }
.round-item:nth-child(8) { transform: rotate(310deg) translateX(100px) rotate(-310deg); }

#description-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
}




#item-description {
    font-size: 20px;
    left: 50%;
    top: 40%;
      font-weight: bold; /* Add this line to make the text bold */
      position: absolute;
      color: white;
      z-index: 998;
}


.business-reg-challenges{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}


.challenges-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font: 19px;
    margin-top: 17px;
}

.challenges-span{
    color: #007bff;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}




/*News*/


